/*Basics*/
html{
  height: 100%;
  overflow-x:hidden;
  overflow-y: hidden;
}
body {
  height:100%;
  margin: 0;
  overflow:auto;
}

/*Navbar*/
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #FFF;
  position: relative;
}

/* #myLinks */
.topnav #myLinks {
  display: none;
  background-color: #FF4F4F;
  padding-left: 60px;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  height:56px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  padding:15px;
  padding-left: 18px;
  padding-right: 18px;
  background: #FF4F4F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Menu Hyperlink: highlights */
.topnav a:hover {
  text-decoration: underline;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}

/*Style for the Logo ONLY*/
#logo img {
  float: none;
  position: absolute;
  margin-top: 7px;
  left: 50%;
  transform: translate(-50%);
}

/*Landing Page - Layout*/
.container {
  margin: 0;
  padding: 0;
  position:relative;
  min-height: 100%;
  min-width: 100%;
}

.container img {
   height: 100%;
}

.slides img{
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
}

.row #cta-button {
  background-color: #009FA6;
  min-height: 20%;
  color: #FFF;
  margin: 0;
}

.row #testimonials {
  background-color: #fff;
  bottom: 0;
  padding:40px;
  margin: 0;
}

#feat-slides {
  padding:0;
}
